.container {
  margin-top: 4rem;
}

.postsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  color: #f4f4f5;
  font-size: 20px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
