.sandboxContainer {
  margin: 50px auto;
  border-top: 1px solid #27272a;
  padding-top: 50px;
}

.caption {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 4px;
}

.title {
  font-size: 30px;
  color: #f4f4f5;
  font-weight: 600;
  margin-bottom: 50px;
}
