.slideContainer {
  width: 100%;
  margin: 48px auto;

  @media (max-width: 1024px) {
    overflow: hidden;
  }
}

.slideItem {
  width: 100%;
}

.image {
  display: block;
  max-height: 80vh;
  object-fit: contain;
  margin: 0 auto;
}
