.socialsShare {
  display: flex;
  gap: 16px;
  align-items: center;
}

.socialsShareButton {
  color: #a1a1aa;
  background-color: #18181b;
  border: 1px solid #3f3f46;
  font-weight: 500;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  padding: 8px 12px;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 12px;

  &:hover {
    background-color: rgba(39, 39, 42, 0.7);
    color: #f4f4f5;
  }
}

.socialsSharePlaceholder {
  display: flex;
  align-items: center;
  gap: 4px;
}
