@font-face {
  font-family: "desyrelregular";
  src: url("/fonts/desyrel-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #0d0e10;
  --primary: #18181b;
  --secondary: #04e1fb;
  --info: #d1d5db;
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: var(--font-inter), sans-serif;
  color: white;
}

.formkit-powered-by-convertkit {
  display: none !important;
  opacity: 0;
}

.formkit-form.clare .formkit-button,
.formkit-form.clare .formkit-submit {
  max-width: 125px;
  margin-left: 12px !important;
  font-weight: 700 !important;
  font-family: var(--font-inter), sans-serif;
}

.formkit-form.clare .formkit-field {
  flex: 1 !important;
}

.hljs {
  overflow: auto;
  padding: 20px;
  border-radius: 6px;
  max-width: 100%;
  overflow: auto;
  line-height: 20px;
  background: #282a36 !important;
  padding: 20px !important;
  font-size: 13px;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  font-family: ui-monospace, monospace;
}

.line-number {
  color: #f8f8f2 !important;
  padding-right: 8px;
  margin-right: 12px;
  font-size: 13px;
  opacity: 0.5;
  line-height: 23px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #282a36;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  border: 2px solid #282a36;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
