@font-face {
  font-family: "desyrelregular";
  src: url("/fonts/desyrel-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary: #0d0e10;
  --primary: #18181b;
  --secondary: #04e1fb;
  --info: #d1d5db;
}

html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
  font-family: var(--font-inter), sans-serif;
  color: white;
  /* background-color: #18181b;*/
}

.formkit-powered-by-convertkit {
  display: none !important;
  opacity: 0;
}

.formkit-form.clare .formkit-button,
.formkit-form.clare .formkit-submit {
  max-width: 125px;
  margin-left: 12px !important;
  font-weight: 700 !important;
  font-family: var(--font-inter), sans-serif;
}

.formkit-form.clare .formkit-field {
  flex: 1 !important;
}

.hljs {
  overflow: auto;
  padding: 20px;
  border-radius: 6px;
  max-width: 100%;
  overflow: auto;
}
