.wrapper {
  max-width: 728px;
  margin: 0 auto;
  padding: 0 24px;
  line-height: 24px;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 80px;
  line-height: 40px;
}

.subtitle {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 16px;
}

.list {
  margin-bottom: 64px;
}

.listItem {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24px;
}

.link {
  color: rgb(1, 15, 52);
  background-color: rgb(4, 225, 251);
  border-radius: 4px;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin: 32px auto 0 auto;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 700;
}

.hr {
  margin-bottom: 64px;
}

.subtitleSection {
  margin: 32px 0;
}

.highilight {
  color: var(--secondary);
}

.postLink {
  color: white;
  padding-left: 8px;
  font-weight: 700;
}

.marginBottom {
  margin-bottom: 64px;
}

.analyticsImage {
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  .analyticsImage {
    height: auto;
  }
}
