.filterBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 48px;
  padding-bottom: 48px;
  border-bottom: 1px solid #27272a;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #f4f4f5;
  margin-bottom: 16px;
}

.searchGroup {
  position: relative;
  color: #52525b;
  padding-right: 16px;
  flex: 1;
}

.searchButtonIcon {
  margin-right: 4px;
}

.searchForm {
  width: 100%;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 12px;
}

.searchInput {
  height: 32px;
  background-color: #070708;
  color: #d4d4d8;
  border: 1px solid #71717a;
  border-radius: 4px;
  padding-left: 36px;
  font-size: 12px;
  width: 100%;

  &::-webkit-search-cancel-button {
    position: relative;
    right: 20px;
  }
}

.searchButton {
  background-color: var(--secondary);
  padding: 6px 8px;
  font-size: 12px;
  color: #18181b;
  border-radius: 100px;
  line-height: 16px;
  font-weight: 500;
  display: flex;
  height: 32px;
  align-items: center;
  cursor: pointer;
  opacity: 1;
  transition-duration: 0.3s;
  &:hover {
    opacity: 0.8;
  }
}

.filterControls {
  display: flex;
  gap: 16px;
  align-items: center;
}
