.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  color: #f4f4f5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-size: 24px;
  font-weight: 600;
}

.subtitle {
  color: #a1a1aa;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 48px;
  margin-bottom: 32px;
  padding-bottom: 48px;
  border-bottom: 1px solid #27272a;
}

.posts {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.loadMore {
  margin: 0 auto;
  border: none;
  cursor: pointer;
}
